<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/img/icon.ico}">

    <title>Make Friends NOW</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center" style="background-image:url(../img/戳1.jpg) ">
<form class="form-signin" action="#" th:action="@{/get}" th:object="${user}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please input your userId:</h1>

    <label for="inputEmail" class="sr-only">userId</label>
    <input th:field="*{userId}" id="inputEmail" class="form-control" placeholder="userId">

    <!--<div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>-->
    <hr class="mr-4">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

</body>
</html>